* {
    padding: 0;
    margin: 0;
    color: #00394A;
}

#menu {
    text-align: right;
    position: absolute;
    width: 100%;
    margin-top: -10px;
    margin-right: 50px;
    float: right;
}
h2{
    color: #00394A;
}

.image-fondo {
    background-image: url('images/design1_image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.cabecera {
    color: #88FF4E;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 10px;
}

.home {
    margin-right: 15px;
    background-color: #88FF4E;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
}

.about {
    margin-right: 15px;
    background-color: #00394A;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
}

.contact {
    margin-right: 15px;
    background-color: #00394A;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
}

.reglas {
    margin-right: 15px;
    background-color: #00394A;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);

}

.información {
    margin-right: 15px;
    background-color: #00394A;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);

}

.formulario {
    margin-right: 15px;
    background-color: #00394A;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
}

.centrado {
    text-align: center;

}

.column {
    color: #00394A;
    text-align: left;
    margin-left: 160px;
    font: italic 120% sans-serif;

}

.columna {
    color: #00394A;
    text-align: left;
    margin-left: 160px;
    font: italic 120% sans-serif;

}

.tabla,td,th {
    margin-left: 160px;
    border-collapse: collapse;
    font-size: 20px;

}

td,th {
    padding: 10px;
    border: 1px solid rgb(90, 14, 33);
}

form {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
}

input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

  input:focus {
    outline: 3px solid gold;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #00394A;
    font: italic 100% sans-serif;
}

